<html>
    <body>
        <h1>Todo App</h1>
        <p>Best todo app ever</p>
        <a href="/new-item">New Item</a>
        {{todo_item}}
        <ul>
      		{% for item in items %}
      			<li>
      				{% if item['completed'] %}
      					<del>{{item['content']}}</del>
      				{% else: %}
      					{{item['content']}} <a href="{{url_for('complete', id = item['id'])}}">Mark Done</a>
      				{% endif %}
      					<a href="{{url_for('delete', id = item['id'])}}">Delete</a>
      			</li>
      		{% endfor %}
      	</ul>
    </body>
</html>
