<!DOCTYPE html>
<html>
  <body style="background-color:powderblue;">
      <h1>Todo App</h1>
      <a href="/register">register</a>
      <a href="/login">login</a>
    <p>My to do list depends on today's weather!</p>
    <P>The weather in NYC in spring is really......! </p>
    <img src="http://drive.google.com/uc?export=view&id=1WetA4iFgGbca752ZWtQmvg-VmAF19-0n"width="200"
height="300">
    <p> Let's check up today's weather <a href="https://weather.com/weather/hourbyhour/l/USNY0996:1:US">Real time weather</a></p>


    <h2>So My To Do List Today!</h2>
<ol>
  <li>Get up</li>
  <li> <a href= "https://alicesteacup.com">Tea </a> </li>
  <li> <a href= "https://titleboxingclub.com/forest-hills-ny/"> Boxing </a></li>
  <li> <a href= "https://www.sleepfoundation.org/"> Napping </a> </li>
  <li> <a href= "https://bodenyc.com"> Hot yoga </a> </li>
</ol>
  </body>
</html>
